.list{
    margin: 1px;
    list-style: none;
    border-bottom: 2px solid rgb(20, 7, 6);
}
.main{
    width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-size: x-large;
  font-weight: bolder;

}